<% if @anime_list %>
  <section class="py-3" id="result">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="mb-5">Results</h4>
        </div>
      </div>
      <div class="row">
      <% @anime_list.each do |anime| %>
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-image border-radius-lg position-relative">
              <a href="javascript:;">
                <img class="w-100 border-radius-lg move-on-hover shadow" src="<%= anime["image_url"] %>">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-bold"><%= anime["title"] %></a>
              </h5>
              <p>
                <%= anime["synopsis"] %>
              </p>
              <a href="javascript:;" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </section>
<% end %>
